.left-bottom-right {
	.left-bottom-right-top {
		width: 100%;
		height: 50%;

		.left-bottom-right-top-content {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			height: calc(100% - 20px);

			.left-bottom-right-top-echarts {
				position: relative;
				width: 40%;
				height: 100%;

				.bottom-right-top-echarts-wrap {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 5;
					width: 190px;
					height: 180px;
					margin-top: -90px;
					margin-left: -95px;
				}

				.bottom-right-top-echarts-bg-btn {
					position: absolute;
					top: 0;
					top: 50%;
					left: 0;
					left: 50%;
					z-index: 3;
					width: 170px;
					height: 160px;
					margin-top: -75px;
					margin-left: -85px;
				}

				.bottom-right-top-echarts-bg-top {
					position: absolute;
					top: 0;
					top: 50%;
					left: 0;
					left: 50%;
					z-index: 10;
					width: 40px;
					height: 90px;
					margin-top: -56px;
					margin-left: -20px;
				}
			}

			.left-bottom-right-top-text {
				flex: 1;
				height: 100%;

				ul {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: flex-start;
					height: 100%;
					padding: 30px 16px;
					text-align: center;

					li {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 100%;
						height: 25%;

						&:nth-of-type(1) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #43d9ff;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(2) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #2162ff;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(3) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #fff92d;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(4) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #ff71af;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(5) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #43ff9e;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(6) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #ff8033;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(7) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #c81b1b;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}

						&:nth-of-type(8) {
							span:nth-of-type(1) {
								width: 24px;
								height: 8px;
								margin-right: 8px;
								background: #ab5fff;
								border-radius: 4px;
							}

							span:nth-of-type(2) {
								font-size: 18px;
								color: rgba(255, 255, 255, 1);
							}
						}
					}
				}
			}
		}
	}
}
